doctype html
html
	head
		title gitmoji | git 提交信息的 emoji 指南
		link(rel="canonical", href="https://gitmoji.js.org")
		style
			include ../../dist/css/style.css
		include _includes/_meta.pug
	body.emoji-container
		include _includes/_icons.pug
		include _includes/_nav.pug
		header.header
			include ../images/gitmoji.svg
			h2 git 提交信息的 emoji 指南
			div.header-buttons
				a.btn.btn-pink(href="https://github.com/carloscuesta/gitmoji/")
					svg.icon.icon-star
						use(xlink:href='#icon-star')
					| GitHub
				a.btn.btn-pink(href="https://twitter.com/intent/tweet?text=gitmoji%20-%20%40zizhujy%20%E5%88%B6%E4%BD%9C%E7%9A%84%20git%20%E6%8F%90%E4%BA%A4%E4%BF%A1%E6%81%AF%E7%9A%84%20%23emoji%20%E6%8C%87%E5%8D%97%E3%80%82&url=https://gitmoji.js.org", target="_blank")
					svg.icon.icon-twitter
						use(xlink:href='#icon-twitter')
					| 推特
		main.wrap
			.row.center-xs#gitmoji-list
				each gitmoji in emojis.gitmojis
					article.emoji.col-xs-12.col-sm-6.col-md-3
						.emoji-card(data-clipboard-text=gitmoji.code)
							header(class=gitmoji.name+' emoji-header')
								span.emoji-icon.gitmoji=gitmoji.emoji
							.emoji-info
								code=gitmoji.code
								p=gitmoji.description
		include _includes/_footer.pug
	script(src='//cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js')
	script
		include ../scripts/clipboard.js
		include ../scripts/main.js
		include ../scripts/notificationFx.js
		include ../scripts/notification.js
